div#floater {
    float: left;
    height: 800px;
    width: 300px;
    border: 1px solid black;
}
div#rounder {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    border-radius: 10px;
    overflow: hidden;
}
p#font1 {
    font-family: Serif;
}
p#font2 {
    font-family: Cursive;
}
img {
    height: 50px;
    width: 50px;
    margin: 20px;
}
p#bordered {
    border: 1px dotted blue;   
}
div#back {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/eb/Mount_Rainier_from_west.jpg");
    height: 300px;
    width: 300px;
    text-align: center;
}
span {
    line-height: 300px;
}
